<!DOCTYPE html>
<html lang="en">
<head>
	<!-- charset -->
	<meta charset="utf-8">
	<!-- viewport -->
	<meta name="viewport" content="width=device.width, initial-scale=1.0, maximum-scale=1.0, shrink-to-fit=no"">
	<!-- compatibility -->
	<meta http-equiv="X-UA-Compatible" contenteditable="IE-Edge">
	<title>JAISE - Interactive - Portfolio</title>
</head>
<body>

<div class="container-fluid">
	<header class="row header">
		<nav class="nav-main col-xs-12 col-sm-12 col-md-12">
			<ul class=" ul-nav"> <!-- set fixed position -->
				<li class="nav-item"><a href=".project">PROJECTS</a></li>
				<li class="nav-item"><a href="#">ABOUT</a></li>
				<li class="nav-item"><a href="#">JAISE.</a></li>
			</ul>
		</nav> <!-- endmainnav -->
	</header> <!-- endheader -->

	<main class="row main">
		<content class="col-12 col-sm-12 col-md-12">
			<p><small> 07 11 2018</small></p>
			<p>Hello I'm Jechris, I am currently working on my Interactive Website Portfolio. I started to create interactive designs way back 4 years ago.
			I think this could be my introduction, come as I welcome you to my works</p>
			<p> <small>- INTRO</small></p>
		</content>	
		
		<content class="col">
			<div class="container">
				<aside class="aside row">
					<dropdown class="nav-item dropdown">
					<button class="btn btn-outline-success dropdown-toggle" type="button" data-toggle="dropdown" id="dropdownMenuButton">Projects</button>
						<div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
							<a class="dropdown-item" href="#">Calag Travel Blog</a>
							<a class="dropdown-item" href="#">The Night Hub Delights</a>
						</div> <!-- enddropdownmenu -->
					</dropdown>
				</aside> <!-- endaside -->
			</div>
		</content>

	</main> <!-- endmain -->

</div> <!-- endcontainerfluid -->


<div class="container">
	<header class="row header">
		<nav>
			<ul class="row nav-main"> <!-- set fixed position -->
				<li class="col-lg-12 col-md-12 col-sm-12"><a href=".project">PROJECTS</a></li>
				<li class="col-lg-12 col-md-12 col-sm-12"><a href="#">ABOUT</a></li>
				<li class="col-lg-12 col-md-12 col-sm-12"><a href="#">JAISE.</a></li>
			</ul>
		</nav>
	</header>

	<main class="row main">
		<content class="col-lg-12 col-md-12 col-sm-12 Intro">
			<p><s> 07 11 2018</s></p>
			<p>Hello I'm Jechris, I am currently working on my Interactive Website Portfolio. I started to create interactive designs way back 4 years ago.
			I think this could be my introduction, come as I welcome you to my works</p>
			<p> <s>- INTRO</s></p>
		</content>

		<content class="col-lg-12 col-md-12 col-sm-12 project">
			<aside class="row aside">
				<nav class="col-lg-12 col-md-12 col-sm-12 project-nav">
					<a href="calag">Calag Travel Blog</a>
					<a href="city">The Night Hub Delights</a>
				</nav> <!-- endprojectnav -->
			</aside>
				
			<div class="bg-Calag-hut"> <!-- setopacity-width -->
				<h1 class="calag">CALAG TRAVEL BLOG</h1>
				<h2>Introducing the Beautiful and Majestic Island of Calaguas</h2>
				<img src="assets/images/Calaguas-Islands-by-Peach-Lopez-1-768x768.jpg">
			</div> <!-- endcalaghut -->
				<div class="bg-city"> <!-- setopacity-width -->
				<h1 class="city">The Night Delights</h1>
				<h2>Best place to go with the Barkada</h2>
			</div> <!-- endcity -->
		</content> <!-- endprojects -->
	</main> <!-- endmain -->



	<footer class="row footer">
		<nav class="footer-nav">
			<ul class="row nav-footer">
				<li class="col-lg-12 col-md-12 col-sm-12"><a href="#">Author</a></li>
				<li class="soc_med col-lg-12 col-md-12 col-sm-12"><a href="#">Facebook</a></li>
				<li class="soc_med col-lg-12 col-md-12 col-sm-12"><a href="#">Instagram</a></li>
				<li class="soc_med col-lg-12 col-md-12 col-sm-12"><a href="#">Google+</a></li>
			</ul>
		</nav>
		<p><small>Copyright &copy; Jaiser.Digital</small></p>
	</footer>	
</div> <!-- endcontainer -->	


<div>
	<!-- jquery first, then popper.js, then bootstrap -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>

<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>

<!-- external bootstrap js -->
<script src="assets/js/bootstrap.min.js"></script>
</div>

</body>
</html>

<!-- inserting images on project > calag > main image -->